<div class="container w-full border-bottom-3 border-gray-200 top-0 left-0 z-10 bg-gray-100 shadow-2">
    <nav class="navbar p-2 h-4rem">
        <ul class="nav flex gap-3 h-full align-items-center font-bold text-xl">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/simple-page" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
                    Page 1</a
                >
            </li>
            <li class="nav-item">
                <a routerLink="/expert-page" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
                    Page 2</a
                >
            </li>
        </ul>
    </nav>
</div>
