<div class="back-button-container mt-6 flex align-items-center gap-2">
    <i class="pi pi-arrow-left back-button" style="font-size: 1rem"></i>
    <p class="subtitle font-bold text-sm">Lorem ipsum dolor sit amet consectetur lorem</p>
</div>
<div class="single-input-container mt-3 w-22rem"><app-input-number placeholder="placeholder 1"></app-input-number></div>
<div class="main-container mt-4 flex gap-5">
    <div class="left bg-white border-round-lg shadow-3 p-2">
        <div class="title mb-3 pl-3">
            <h2>Lorem ipsum dolor sit</h2>
        </div>
        <div class="input-container">
            <div class="grid">
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
            </div>
        </div>
        <div *ngIf="expertModeEnabled" class="second-title mb-3 mt-2 pl-3">
            <h4>Lorem lorem</h4>
        </div>
        <div *ngIf="expertModeEnabled" class="input-container-expert">
            <div class="grid">
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col-6 px-4">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
            </div>
            <div class="grid px-3 mt-1 flex gap-5">
                <div class="col">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
                <div class="col">
                    <app-input-number placeholder="placeholder 1"></app-input-number>
                </div>
            </div>
        </div>

        <div class="third-title mb-3 mt-2 pl-3">
            <h4>Lorem</h4>
        </div>
        <div class="pl-3 flex gap-3 align-items-center mb-2">
            <i class="pi pi-check-circle" style="font-size: 2rem; color: green"></i>
            <p class="font-bold text-sm text-green-600">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="border-1 border-gray-300 mx-3 mb-3"></div>
        <div class="flex pl-3 gap-5 mb-3">
            <div class="left-side flex flex-1">
                <div class="flex flex-column gap-2">
                    <h4 class="font-medium text-gray-500">Lorem ipsum dolor sit</h4>
                    <p class="font-bold text-xl">1500 EUR</p>
                </div>
            </div>
            <div class="right-side flex flex-1">
                <div class="flex flex-column gap-2">
                    <h4 class="font-medium text-gray-500">Lorem ipsum dolor sit</h4>
                    <p class="font-bold text-xl">23 STUNDEN</p>
                </div>
            </div>
        </div>
        <div class="pl-3 flex align-items-center gap-3 expertmodus">
            <app-input-switch [(checked)]="expertModeEnabled"></app-input-switch>
            <p>Expermodus</p>
        </div>
    </div>
    <div class="right flex flex-column gap-3">
        <div><h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h2></div>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, necessitatibus doloremque doloribus
            exercitationem dolorem in et omnis possimus facere repudiandae soluta molestias voluptas sunt maiores
            cupiditate consequuntur? Eum, culpa quae.
        </p>
    </div>
</div>
