:host ::ng-deep .p-inputtext {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid #8f9399;
    border-right: 0px;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 1rem;
}

:host ::ng-deep .p-inputgroup-addon {
    background: white;
    border-left: 0px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 2px solid #8f9399;
    border-left: 0px;
    padding: 1rem;
}

:host ::ng-deep .p-inputtext:enabled:focus {
    box-shadow: none;
}
